{% extends "proyectofinalapp/principal.html" %} <!-- se hereda de principal.html nombre navegacion y footer-->

{% load static %} <!--hereda los contenidos de la carpeta static-->

{% block content %}



    <h2 style="color:white;">Editar Post</h2>
    <br/>
    <form method="POST" style="color:white;">
        {{ form.as_p }}
        {% csrf_token %}
        <br/>
        <button type="submit" class="btn btn-primary">Editar</button>
    </form>
    <hr/>
    <a href="/lista" type="button" class="btn btn-warning btn-sm">Listar Posts</a>
    <br/>
    <br/>
    <a href="/logout">Cerrar sesión</a>






{% endblock %}