{% extends "proyectofinalapp/principal.html" %} <!-- se hereda de principal.html nombre navegacion y footer-->

{% load static %} <!--hereda los contenidos de la carpeta static-->

{% block content %}


<ul>
  {% for item in personas %}
  
      <h1 style="color:white;">{{item.titulo}}</h1>
      <p style="color:white;">{{item.texto}}</p>
      <img src="{{item.imagen}}" style="width:10%">
      <p style="color:white;">Direccion: {{item.direccion}}</p>
      <p style="color:white;">Telefono: {{item.telefono}}</p>
      <p style="color:white;"><a href="{{item.ubicacion}}" target="_blank">Ubicacion</a></p>
      <p style="color:white;"><a href="{{item.website}}" target="_blank">WebSite</a></p>
      <p style="color:white;">{{item.fecha_creacion}}</p>
      <p style="color:white;">{{item.autor}}</p>
      
  <br>
  
  {% endfor %}
</ul>


  <!-- Heading -->
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'proyectofinalapp/img/cartel1.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Lorem Ipsum</span>
            <span class="section-heading-lower">sit amet consectetur adipisicing elit.</span>
          </h2>
          <p class="mb-3">Velit repellat repudiandae nemo deserunt saepe omnis, veritatis inventore hic rem maxime, itaque
            praesentium suscipit voluptatem sapiente odit libero porro aspernatur cum.
          </p>

        </div>
      </div>
    </div>
  </section>

<!--Message -->
  <section class="page-section cta ">
    <div class="container ">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Lorem Ipsum</span>
              <span class="section-heading-lower">sit amet consectetur</span>
            </h2>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta iste repudiandae maiores necessitatibus
              consectetur vel ex, deleniti amet nesciunt facere aperiam illum fuga. Id repellat, quasi impedit aspernatur distinctio
              ipsum.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}