{% extends "proyectofinalapp/principal.html" %} <!-- se hereda de principal.html nombre navegacion y footer-->

{% load static %} <!--hereda los contenidos de la carpeta static-->

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-lower">Bienvenidos</span>
      </h1>
      <h4><small  style="color:white;">En este sitio usted puede mostrar sus productos y contar a sus clientes todo sobre usted
          y lo que tiene para
          ofrecer</small></h4>
      <br>
    </div>
  </div>
</div>
<ul>
  {% for item in personas %}
  <div class="container d-inline-block justify-content-center">
  <div class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <!-- <div class="card" style="width: 18rem; background-color: transparent; border-color: lightsteelblue;"> -->
          <img src="{{item.imagen}}" style="width:100%" class="intro-img img-fluid mb-3 mb-lg-0 rounded" alt="...">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h3 style="color:white;" class="section-heading mb-4">{{item.titulo}}</h3>
            <p class="section-heading">{{item.texto}}</p>
            <p class="section-heading">Direccion: {{item.direccion}}</p>
            <p class="section-heading">Telefono: {{item.telefono}}</p>
            <p class="section-heading"><a href="{{item.ubicacion}}" target="_blank">Ubicacion</a></p>
            <p class="section-heading"><a href="{{item.website}}" target="_blank">WebSite</a></p>
            <p class="section-heading">{{item.fecha_creacion}}</p>
            <p class="section-heading">{{item.autor}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
  {% endfor %}
</ul>
<br>

  <!-- Heading
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'proyectofinalapp/img/cartel1.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Lorem Ipsum</span>
            <span class="section-heading-lower">sit amet consectetur adipisicing elit.</span>
          </h2>
          <p class="mb-3">Velit repellat repudiandae nemo deserunt saepe omnis, veritatis inventore hic rem maxime, itaque
            praesentium suscipit voluptatem sapiente odit libero porro aspernatur cum.
          </p>

        </div>
      </div>
    </div>
  </section>


  <section class="page-section cta ">
    <div class="container ">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Lorem Ipsum</span>
              <span class="section-heading-lower">sit amet consectetur</span>
            </h2>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta iste repudiandae maiores necessitatibus
              consectetur vel ex, deleniti amet nesciunt facere aperiam illum fuga. Id repellat, quasi impedit aspernatur distinctio
              ipsum.</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  {% endblock %}