{% extends "proyectofinalapp/principal.html" %} <!-- se hereda de principal.html nombre navegacion y footer-->

{% load static %} <!--hereda los contenidos de la carpeta static-->

{% block content %}
<div class="container" style="margin: 1rem auto;">
<h2 style="color:white;">Lista de Posts</h2>

  <h4 style="color:white;">{{request.user.username}}</h4>
  <ul style="color:white;">

  
    {% for persona in personas %}
      
      <li>
        
          {{ persona.titulo }}
            
              <a href="/edit/{{ persona.id}}" type="button" class="btn btn-outline-success btn-sm">Editar</a>
              <a href="/delete/{{ persona.id }}" type="button" class="btn btn-outline-danger btn-sm"
                onClick="return confirm('¿Seguro que quieres borrar a {{persona.titulo}} ?');">
                  Borrar
              </a>
            
      </li>
    
    {% endfor %}

  </ul>
<hr />
<a href="/add" type="button" class="btn btn-warning btn-sm">Crear Post</a>
<br/>
<br/>
<a href="servicios" type="button" class="btn btn-warning btn-sm">Volver a Posts</a>
<br/>
<br/>
<a href="/logout" class="btn btn-warning btn-sm">Cerrar sesión</a>
</div>
{% endblock %}