{% extends "proyectofinalapp/principal.html" %} <!-- se hereda de principal.html nombre navegacion y footer-->

{% load static %} <!--hereda los contenidos de la carpeta static-->

{% block content %}


<h1 class="site-heading text-white d-none d-lg-block">Área para miembros</h1>


<h4 style="color:white;">
    Bienvenido <b>{{request.user.username}}</b>, 
    esta página es exclusiva para usuarios registrados.
</h4>

  <hr />
  <a href="/add" type="button" class="btn btn-warning btn-sm">Crear Post</a>
  <br/>
  <br/>
  <a href="/lista" type="button" class="btn btn-warning btn-sm">Editar Posts</a>
  <br/>
  <br/>
  <a href="/logout">Cerrar sesión</a>


{% endblock %}