{% extends "proyectofinalapp/principal.html" %} <!-- se hereda de principal.html nombre navegacion y footer-->

{% load static %} <!--hereda los contenidos de la carpeta static-->

{% block content %}


<h2 style="color:white;">Área para miembros</h2>

<p style="color:white;">
    Bienvenido <b>{{request.user.username}}</b>, 
    esta página es exclusiva para usuarios registrados.
</p>





  <hr />
  <a href="/add">Crear Post</a>
  <br/>
  <br/>


  <a href="/lista">Editar Posts</a>
  <br/>
  <br/>


  <a href="/logout">Cerrar sesión</a>


{% endblock %}