{% extends "proyectofinalapp/principal.html" %} <!-- se hereda de principal.html nombre navegacion y footer-->

{% load static %} <!--hereda los contenidos de la carpeta static-->

{% block content %}


<h2 style="color:white;">Área para miembros</h2>

<p style="color:white;">
    Bienvenido <b>{{request.user.username}}</b>, 
    esta página es exclusiva para usuarios registrados.
</p>

<ul>
    {% for item in personas %}
    
        <h1 style="color:white;">{{item.titulo}}</h1>
        <p style="color:white;">{{item.texto}}</p>
        <img src="{{item.imagen}}" style="width:10%">
        <p style="color:white;">Direccion: {{item.direccion}}</p>
        <p style="color:white;">Telefono: {{item.telefono}}</p>
        <p style="color:white;"><a href="{{item.ubicacion}}" target="_blank">Ubicacion</a></p>
        <p style="color:white;"><a href="{{item.website}}" target="_blank">WebSite</a></p>
        <p style="color:white;">{{item.fecha_creacion}}</p>
        <p style="color:white;">{{item.autor}}</p>
    <br>
    
    {% endfor %}
  </ul>



<hr />
<a href="/add">Crear Post</a>
<br/>
<br/>
<a href="/lista">Editar Posts</a>
<br/>
<br/>
<a href="/logout">Cerrar sesión</a>


{% endblock %}